<footer>
  <div class="container">
    <hr />
    
    <p>Copyright © 2016 Iowa State University of Science and Technology. All
    rights reserved.</p>

    <p>These pages describe work carried out on the design and the
    implementation of the Panini programming language. The PI is Hridesh Rajan
    from Iowa State University. This work is supported in part by the US
    National Science Foundation (NSF) under grants CCF-08-46059, CCF-10-17334,
    CCF-11-17937, and CCF-14-23370 to Rajan. Any opinions, findings, and
    conclusions or recommendations expressed in this material are those of the
    author(s) and do not necessarily reflect the views of the NSF.</p>
  </div>
</footer>
