---
---

main.home-main-content {
  font-size: 16px;
  .lead {
    font-size: 180%;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 1rem;
    text-align: center;
  }

  #get-started-link {
    color:white;
    button {
      background-color: rgba(199, 181, 94, 0.80);
      border-color: rgba(199, 181, 94, 0.80);
      padding: 0.5rem;
    }
    :hover {
      background-color: rgba(199, 181, 94, 1);
      border-color: rgba(199, 181, 94, 1);
    }
  }
}
