---
---

@import url("header.css");
@import url("footer.css");
@import url("github_corner.css");
@import url("code_blocks.css");
@import url("man.css");
@import url("home.css");

div.base-content {
  max-width: 800px;
}

main {
  font-size: 15px;
}

ol#markdown-toc {
  list-style-type: none;
}
