---
---

.github-corner:hover .octo-arm {
  animation:octocat-wave 560ms ease-in-out
}
@keyframes octocat-wave{
  0%,100% {transform:rotate(0)}
  20%,60% {transform:rotate(-25deg)}
  40%,80% {transform:rotate(10deg)}
}
@media (max-width:500px) {
  .github-corner:hover .octo-arm{
    animation:none
  }
  .github-corner .octo-arm{
    animation:octocat-wave 560ms ease-in-out
  }
}

header {
  display: flex;
  align-items: flex-end;
}

#header-logo > img {
  margin: 10px;
}

// div.highlight {
//   background-color: #f7f7f9
// }

.navbar-nav .nav-item {
  margin-left: 0rem !important;
  font-size: 15px;
}

ol#markdown-toc {
  list-style-type: none;
}

.navbar {
  background-color: rgb(161, 31, 18);
  padding: 0rem 0rem 0rem 0rem;
}

.dropdown-menu {
  background-color: rgb(161, 31, 18);
}

.nav-item a {
  color: #FFF !important;
}

#header-text h1 {
  font-size: 4rem;
  font-weight: bold;
  margin-bottom: .2rem;
  color: rgb(161, 31, 18);
}

#header-text h2 {
  font-size: 1rem;
  font-weight: lighter;
  margin-bottom: 1rem;
  color: #9F211A;
}

.nav-item:hover, .dropdown-item:hover, .nav-item:focus, .dropdown-item:focus {
  background-color: rgba(0, 0, 0, 0.1);
}

.flex-separate {
  display: flex;
  justify-content: space-between;
}